

.bloc {
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}

#logo1 {
  margin-top: 200px;
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}   

#logo1:before { 
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

#logo1:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

h1{
  font-style: italic
}
body{
  background-image: url("./src/img/space.jpg");
  margin-bottom: 90px;
}
button {
  margin-top: 50px;
  height:60px;
  width:100px;
  margin-right:15px;
  
}
td{
  border:solid 1px black;
  height:60px;
  width:60px;
  
}
.black{
  background-color:#e74c3c; 
  opacity:0.4;
}
.white {
  background-color: whitesmoke;
}
#left {
  margin-left: 30px;
  font-weight: bold;
  font-style: oblique;
  background: linear-gradient(45deg,#C9DDE6 30%, #45B0DE 70% )
  
}
#right {
  margin-left: 30px;
  font-weight: bold;
  font-style: oblique;
  background: linear-gradient(45deg,#C9DDE6 30%, #45B0DE 70% )
}
#bouton {
  display:flex;
  justify-content:flex-end;
  margin-right:205px;
}

@media screen and (min-width:340px ) and (max-width: 640px)  {
  
  .bloc {
    flex-direction: column;
  }
}